<form action="">
  SEO блок
  <p> <label for="id_1">URL&nbsp;&ensp;&nbsp;&ensp;&nbsp;&ensp;&nbsp;&ensp;&nbsp;</label>  <input align="right" type="url"  id="id_1" name="field_url" ></p>
  <p><label for="id_2">Title&nbsp;&ensp;&nbsp;&ensp;&nbsp;&ensp;&nbsp;&ensp;&nbsp;</label>   <input width="20" type="text" id="id_2" name="field_subj"></p>
  <p><label for="id_3">Keywords&nbsp;&ensp;</label>   <input type="text" id="id_3" name="field_subj"></p>
  <p><label for="id_4">Description</label> <textarea  id="id_4" name="field_text" rows="2" cols="33"></textarea></p>
  <p><input type="button" >Сохранить</p>


</form>