{% extends 'admin_base.html'%}
{% load static %}
{% block content%}

    <h1 align="center">Пользователи</h1><a href="{% url 'useradd' %}">Добавить пользователя</a>
<div>
<table class="table">
    <thead>
    <tr>
    {% for col in columns %}
        {% with asc=col.field desc="-"|add:col.field %}
        <th scope="col">
            {{ col.label }}
            <a href="?sort={{ asc }}"><img src="{% static 'assets/banner/sort.png' %}" width="10"></a>
            <a href="?sort={{ desc }}"><img src="{% static 'assets/banner/sort.png' %}" width="10" style="transform: rotate(180deg);"></a>

            {% if current_sort == asc %}
                🔼
            {% elif current_sort == desc %}
                🔽
            {% endif %}
        </th>
        {% endwith %}
    {% endfor %}
  </tr>
        </thead>
        <tbody>
            <tr>
                {% for user in object_list %}
                    <td>{{ user.id}}</td>
                    <td>{{ user.registration_date}}</td>
                    <td>{{ user.birthday}}</td>
                    <td>{{ user.email}}</td>
                    <td>{{ user.phone_user}}</td>
                    <td>{{ user.first_name}} <pre>{{ user.last_name}}</td>
                    <td>{{ user.username}}</td>
                    <td>{{ user.town}}</td>
                    <td><a href="{% url 'user_edit' user.id  %}"><img src="{%static 'assets/banner/edit.png'%}" width="20"></a>
                        <a href="{% url 'delete_confirm' user.id %}"><img src="{%static 'assets/banner/del.png'%}" width="20"></a>
                    </td>

        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>



{% if is_paginated %}
  <div class="pagination">
    {% if page_obj.has_previous %}
      <a href="?{{ query_string.urlencode }}&page={{ page_obj.previous_page_number }}">←</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if num == page_obj.number %}
        <strong style="padding: 5px; background-color: #007bff; color: white; border-radius: 4px;">{{ num }}</strong>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a href="?{{ query_string.urlencode }}&page={{ num }}" style="padding: 5px;">{{ num }}</a>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <a href="?{{ query_string.urlencode }}&page={{ page_obj.next_page_number }}">→</a>
    {% endif %}
  </div>
{% endif %}
{% endblock %}
