{% extends 'admin_base.html'%}
{% load static %}
{% block content %}

<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-error">{{ form.non_field_errors }}</div>

        <div style="display: flex; gap: 40px;">

            <div style="flex: 1;">
                {% for f in form.visible_fields|slice:":7" %}
                <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
                <div class="form-error">{{ f.errors }}</div>
                {% endfor %}

                <div style="display: flex; gap: 20px;">
                    <div style="flex: 1;">
                        <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                        {{ form.password }}
                        <div class="form-error">{{ form.password.errors }}</div>
                    </div>
                    <div style="flex: 1;">
                        <label for="{{ form.confirm_password.id_for_label }}">{{ form.confirm_password.label }}</label>
                        {{ form.confirm_password }}
                        <div class="form-error">{{ form.confirm_password.errors }}</div>
                    </div>
                </div>

            </div>

            <div style="flex: 1;">
                {% for f in form.visible_fields|slice:"7:" %}
                <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
                <div class="form-error">{{ f.errors }}</div>
                {% endfor %}
            </div>

        </div>

        <p>
            <button type="submit" name="value1">Добавить</button>
        </p>
    </form>
</div>

{% endblock %}